fastmcp
python-dotenv
PyGithub
PyYAML
pydantic>=2.13.4
streamlit>=1.58.0
langchain-openai>=1.2.2
langchain-anthropic>=1.4.4
langchain-core>=1.4.0
langfuse>=4.7.1
streamlit-authenticator
bcrypt>=5.0.0
pylint
bandit
langchain-nvidia-ai-endpoints>=1.4.0
